* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #ff7300;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

html {
    font-size: 62.5%;
    overflow-x: hidden; 
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
    display: flex;
    align-items: center;
    z-index: 1;
    transition: .5s;
}

.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
    height: 40px;
    width: 140px;
    cursor: default;
    margin-right: auto;
}

.navbar a.active{
    color: var(--main-color);
}

.navbar a{
    position: relative;
    font-size: 1.7rem;
    color: black;
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navbar a{
    color: var(--text-color);
}

.header.sticky .navbar a.active{
    color: var(--main-color);
}

.header.sticky .navbar a::before{
    background: var(--main-color);  
    opacity: .7;
}

.navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set tinggi sesuai viewport */
    background-color: #f0f0f0; /* Warna latar belakang */
  }
  
.home .slider-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%; /* Sesuaikan dengan lebar maksimal yang diinginkan */
    overflow: hidden;
  }
  
.home .slider {
    display: flex;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: transform 0.5s ease-in-out;
}  

/* Hide scrollbar for Chrome, Safari and Opera */
.home .slider::-webkit-scrollbar {
	display: none;
}

.home .slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.home .slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.home .slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.home .slider-nav a:hover {
	opacity: 1;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  .overlay img{
    height: 100px;
    width: 200px;
  }
  
  .overlay h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .overlay p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover{
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .kategori-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

.home .kategori-container .kategori-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .kategori-box .kategori{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 3 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .kategori-box .kategori:nth-child(1) i{
    margin-right: 15px;
}

.home .kategori-box .kategori:nth-child(2) i,
.home .kategori-box .kategori:nth-child(3) i{
    padding-bottom: 20px;
}

.home .kategori i{
    font-size: 3.8rem;
}

.home .kategori h3{
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .kategori-box .circle{
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.home .kategori-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
}

.home-img img{
    position: absolute;
    margin-top: 30%;
    margin-bottom: 40%;
    right: 0;
    width: 50%;
    -webkit-text-stroke: #fdfdfd ;
    pointer-events: none;
}

span{
    color: var(--main-color);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-img img{
    width: 40vw;
    transition: .5s ease;
}

.about-img img:hover{
    transform: scale(1.05);
}

.heading {
    font-size: 3.5rem;
    text-align: center;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.olahraga{
    min-height: auto;
    padding-bottom: 7rem;
}

.olahraga h2{
    margin-bottom: 5rem;
}

.olahraga .olahraga-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.olahraga-container .olahraga-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center; 
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}

.olahraga-container .olahraga-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.olahraga-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.olahraga-box h3{
    font-size: 2.6rem;
    transition: .5s ease;
}

.olahraga-box:hover h3{
    color: var(--main-color);
}

.olahraga-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.swipper-container .prev-button{
    margin-top: 10px;
}

.swipper-container .next-button{
    float: right;
    margin-top: 10px;
}

.swipper-container {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    overflow: hidden;
}
  
.swipper {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
  
.swipper-item {
    flex: 0 0 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}
  
.swipper-item img,
.swipper-item video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.swipper-item video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Adjust video controls */
.swipper-item video::-webkit-media-controls {
    width: 100%;
    height: 100%;
}
  
.swipper-item video::-webkit-media-controls-panel {
    width: 100%;
    height: 100%;
}



.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}

.footer-text p{
    font-size: 1.6rem;
    color: var(--white-color);
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    outline-color: var(--white-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: #333;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden; /* Menonaktifkan scroll pada popup background */
}
  
.popup-content {
    background-color: white;
    width: 500px;
    max-height: 60vh; /* Membuat popup bisa di-scroll */
    overflow-y: auto; /* Menambahkan scroll pada popup jika kontennya lebih panjang */
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}
  
label, input {
    margin-bottom: 10px;
}


.timeline {
    position: relative;
    max-width: 800px;
    margin: 50px auto;
  }

  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #ddd;
  }

  .timeline-item {
    position: relative;
    margin: 50px 0;
  }

  .timeline-content {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .timeline-date {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f4f4f4;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }